ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "jithendraDF"
        },
        "LS_SourceData_Gen2_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LS_SourceData_Gen2'"
        },
        "LS_ADLS_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LS_ADLS'"
        },
        "ls_azureDatabricks_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'ls_azureDatabricks'"
        },
        "LS_ADLS2ToSQLServer_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'LS_ADLS2ToSQLServer'"
        },
        "LS_SQLServer_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'LS_SQLServer'"
        },
        "ls_localSqlServer_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'ls_localSqlServer'"
        },
        "LS_SourceData_Gen2_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://storagepractice02.dfs.core.windows.net/"
        },
        "LS_ADLS_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://storagepractice02.dfs.core.windows.net/"
        },
        "ls_azureDatabricks_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "1027-145734-5pa31s43"
        },
        "LS_ADLS2ToSQLServer_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "azvmdev01\\MSSQLSERVER01"
        },
        "LS_ADLS2ToSQLServer_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "AdventureWorksDW2022"
        },
        "LS_ADLS2ToSQLServer_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sa"
        },
        "LS_SQLServer_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "azvmdev01\\MSSQLSERVER01"
        },
        "LS_SQLServer_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "AdventureWorksDW2022"
        },
        "LS_SQLServer_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sa"
        },
        "ls_localSqlServer_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "azvmdev01\\MSSQLSERVER01"
        },
        "ls_localSqlServer_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "IplData"
        },
        "ls_localSqlServer_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sa"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/LS_SourceData_Gen2')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LS_SourceData_Gen2_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LS_SourceData_Gen2_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LS_ADLS_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_azureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-4076711682231718.18.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('ls_azureDatabricks_accessToken')]"
                    },
                    "existingClusterId": "[parameters('ls_azureDatabricks_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/IR-selfhosted')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "SelfHosted",
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_GettingCsvFromADLS')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderName": {
                        "type": "string"
                    },
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().FolderName",
                            "type": "Expression"
                        },
                        "fileSystem": "sourceadlsdata"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_newsink')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@concat(\n    if(or(equals(item().query,''),equals(item().query,null)),\n    item().TableName,\n    item().TableName),\n    '.parquet'\n\n)\n",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@concat(utcnow('yyyy-MM-dd'), '/')",
                            "type": "Expression"
                        },
                        "fileSystem": "datewisesinkdata"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_DateWiseAdlsSinkData')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@concat(\n    if(or(equals(item().query,''),equals(item().query,null)),\n    item().TableName,\n    item().TableName),\n    '.parquet'\n\n)\n",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@concat(utcnow('yyyy-MM-dd'), '/')",
                            "type": "Expression"
                        },
                        "fileSystem": "datewisesinkdata"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": [
                    {
                        "name": "DBVersion",
                        "type": "UTF8"
                    },
                    {
                        "name": "VersionDate",
                        "type": "INT96"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_ADLS2ToSQLServer')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "SqlServer",
                "typeProperties": {
                    "server": "[parameters('LS_ADLS2ToSQLServer_properties_typeProperties_server')]",
                    "database": "[parameters('LS_ADLS2ToSQLServer_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": true,
                    "authenticationType": "SQL",
                    "userName": "[parameters('LS_ADLS2ToSQLServer_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('LS_ADLS2ToSQLServer_password')]"
                    }
                },
                "connectVia": {
                    "referenceName": "IR-selfhosted",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/IR-selfhosted')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_SQLServer')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "SqlServer",
                "typeProperties": {
                    "server": "[parameters('LS_SQLServer_properties_typeProperties_server')]",
                    "database": "[parameters('LS_SQLServer_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": true,
                    "authenticationType": "SQL",
                    "userName": "[parameters('LS_SQLServer_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('LS_SQLServer_password')]"
                    }
                },
                "connectVia": {
                    "referenceName": "IR-selfhosted",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/IR-selfhosted')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_localSqlServer')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "SqlServer",
                "typeProperties": {
                    "server": "[parameters('ls_localSqlServer_properties_typeProperties_server')]",
                    "database": "[parameters('ls_localSqlServer_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": true,
                    "authenticationType": "SQL",
                    "userName": "[parameters('ls_localSqlServer_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('ls_localSqlServer_password')]"
                    }
                },
                "connectVia": {
                    "referenceName": "IR-selfhosted",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/IR-selfhosted')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SendingDataToSQLServer')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQLServer",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "TableName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [],
                "typeProperties": {
                    "schema": "dbo",
                    "table": {
                        "value": "@dataset().TableName",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Server2')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQLServer",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ForValidationTable')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQLServer",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_configTableDataFromSqlServer')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_localSqlServer",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_localSqlServer')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CopyAdlsDataToSqlServerTable')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "GettingTableFromValidationTable",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": "SELECT TableName, FolderName,FileName\nFROM dbo.ValidationTable\nWHERE IsActive=1",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_ForValidationTable",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "IteratingThroughTheItems",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "GettingTableFromValidationTable",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('GettingTableFromValidationTable').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "CopyingTheAdlsDataToSqlServerTable",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "DelimitedTextSource",
                                            "storeSettings": {
                                                "type": "AzureBlobFSReadSettings",
                                                "recursive": true,
                                                "enablePartitionDiscovery": false
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "SqlServerSink",
                                            "writeBehavior": "insert",
                                            "sqlWriterUseTableLock": false
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_GettingCsvFromADLS",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "FolderName": {
                                                    "value": "@item().FolderName",
                                                    "type": "Expression"
                                                },
                                                "FileName": {
                                                    "value": "@item().FileName",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_SendingDataToSQLServer",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "TableName": {
                                                    "value": "@item().TableName",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-25T10:13:22Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_ForValidationTable')]",
                "[concat(variables('factoryId'), '/datasets/DS_GettingCsvFromADLS')]",
                "[concat(variables('factoryId'), '/datasets/DS_SendingDataToSQLServer')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CopyingSqlServerDataToAdls')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Lookup1",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": "SELECT TableName, Query\nFROM dbo.ConfigurationTable\nWHERE IsActive=1",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_Server2",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach1",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup1",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup1').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Copy data1",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "SqlServerSource",
                                            "sqlReaderQuery": {
                                                "value": "@if(equals(item().Query,null),concat('select * from ',item().TableName), item().Query)",
                                                "type": "Expression"
                                            },
                                            "queryTimeout": "02:00:00",
                                            "partitionOption": "None"
                                        },
                                        "sink": {
                                            "type": "ParquetSink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "ParquetWriteSettings"
                                            }
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_Server2",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_DateWiseAdlsSinkData",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-25T14:02:35Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_Server2')]",
                "[concat(variables('factoryId'), '/datasets/DS_DateWiseAdlsSinkData')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_iplDataWarehouse')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "GettingConfigurationTableDatraFromSqlServer",
                        "description": "Pulling the configuration table data from sql server ",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": "SELECT NotebookName\nFROM dbo.ConfigurationNotebooks",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "ds_configTableDataFromSqlServer",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach1",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "GettingConfigurationTableDatraFromSqlServer",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('GettingConfigurationTableDatraFromSqlServer').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Notebook1",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": {
                                            "value": "@concat('/Users/jithendra.pulusu@snp.com/Dev_Ipl_Datawarehouse/'\n,item().NotebookName)\n\n\n",
                                            "type": "Expression"
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_azureDatabricks",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-29T03:22:46Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_configTableDataFromSqlServer')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_azureDatabricks')]"
            ]
        }
    ]
}